<div class="row">
  <div class="col-lg-8 col-xs-12">
    <div class="card mt-2">
      <h5 class="card-header">
        Buscar Loja
      </h5>
      <div class="card-body">
        <div class="input-group">
          <input class="form-control" type="search" placeholder="Buscar..." aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </div>
        </div>
      </div>
    </div>
    <app-listagem-lojas></app-listagem-lojas>
  </div>
  <div class="col-lg-4 col-xs-12">
    <app-login></app-login>
  </div>
</div>
<!-- <div class="row"> -->
  
<!-- </div> -->


