<div class="card mt-2">
  <div class="card-header">
    Lista de Pratos
  </div>
  <div class="card-body">
    <div class="row">
      <ul class="list-group w-100">
        <li class="list-group-item active">Pratos
          <div class="col-lg-4">
            <div class="input-group">
              <span class="input-group-btn">
                  <button type="button" class="btn btn-default">-</button>
              </span>
              <input type="text" class="form-control">
              <span class="input-group-btn">
                  <button type="button" class="btn btn-default">+</button>
              </span>
            </div>
          </div>  
          
        </li>
        <li class="list-group-item">Prato 1</li>
        <li class="list-group-item">Prato 2</li>
      </ul>
    </div>
  </div>
</div>