<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Lista de Pratos</h3>
  </div>
  <div class="panel-body">
    <div *ngIf="!this.itensCarregados" class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated active" role="progressbar" aria-valuenow="100" aria-valuemin="0"
        aria-valuemax="100" style="width: 100%">
      </div>
    </div>
    <div class="list-group">
      <a href="#" *ngFor="let prato of this.listaPratos; index as i" class="list-group-item list-group-item-action flex-column align-items-start">
        <h5 class="mb-1">Prato {{ i+1 }}</h5>
        <div class="d-inline-flex">
          <strong>Valor Unitário: {{ prato.Preco | currency : 'BRL' }} </strong>
        </div>
        <app-listar-porcoes-prato [idPrato]="prato.Id"></app-listar-porcoes-prato>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-danger btn-sm">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-primary btn-sm">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </a>
    </div>
  </div>
</div>