<div class="card">
  <div class="card-header">

  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="item"></label>
        <input type="text" id="item" class="form-control">
      </div>
      <div class="form-group">
        <label for="quant"></label>
        <input type="text" id="quant" class="form-control">
      </div>
      <div class="form-group">
        <label for="price"></label>
        <input type="text" id="price" class="form-control">
      </div>
      <div class="form-group col-md-4">
        <label for="cat">Categoria</label>
        <select id="cat" class="form-control">
          <option selected>Selecione uma...</option>
          <option></option>
        </select>
      </div>
    </form>
  </div>
</div>