<div class="card">
  <div class="card-header">
    <!-- {{ loja.nome }} --> Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </div>
  <div class="card-body row">
    <div class="col-lg-4 p-2">
      <img src="http://lorempixel.com/200/200/" alt="">
    </div>
    <div class="col-lg-8 p-2">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa eius cupiditate deserunt sequi quod sapiente officia eaque, quo accusamus vero, ipsa iure iste facilis vel error sunt officiis consequatur architecto.
    </div>
  </div>
</div>