<div class="row">
  <div class="col-md-12">
    <div class="card mt-2">
      <div class="header">
        <h4 class="title">Buscar Loja</h4>
      </div>
      <div class="content">
        <div class="input-group">
          <input type="text" 
            class="form-control border-input" 
            aria-label="..."
            [(ngModel)]="this.nomeFiltro">
          <div class="input-group-btn">
            <button class="btn btn-info btn-fill btn-wd">Buscar</button>
          </div>
        </div>
      </div>
    </div>
    <app-listagem-lojas [filtro]="this.nomeFiltro" [isVendedor]="true"></app-listagem-lojas>
  </div>
</div>